.about-container{
    background-color: #1e2326;
    margin: 0;
    padding: 50px 50px;
    height: 60vh;
    
}

.text-container{
    text-align: justify;
    padding: 3rem;
    
}

h3{
    color: #fff;
    font-size: 15px;
}

h1{
    color: #fff;
}

p{
    color: #fff;
    font-size: 20px;
}

.interesting-about{
    text-align: center;
}

h1{
    color: #fff;
}