<div class="about-container row">
    <div class="text-container col">
        <h3>Quien soy</h3>
        <h1>Sobre mi</h1>
        <p>Soy Juan Manuel Vasquez Leon un programador autodidacta responsable, dedicado y compromentido; siempre busco dar lo mejor de mi, por ello continuamente me encuentro capacitandome en la diferentes areas tecnologicas de la programacion.</p>
        <p>Me gusta desarrollar paginas web y apps, mientras voy puliendo mis habilidades resolviendo nuevos problemas, puedes ver algunos en la seccion de proyectos.</p>
    </div>
    <div class="interesting-about col">
        <h1>Intereses</h1>
        
    </div>
</div>
