<nav class="navbar-container row">
    <div class="navbar-left col">
      <a href="#">Juan V.</a>
    </div>

    <div class="navbar-right col">
      <ul>
          <li><a href="#inicio">INICIO</a></li>
      </ul>
      <ul>
          <li><a href="#sobre-mi">SOBRE MI</a></li>
      </ul>
      <ul>
        <li><a href="#Skills">SKILLS</a></li>
      </ul>
        <ul>
        <li><a href="#Curriculum">CURRICULUM</a></li>
      </ul>
      <ul>
        <li><a href="#contacto">CONTACTO</a></li>
      </ul>
    </div>

</nav>
